ul{
    list-style-type: none;
    padding: 0 0 0 20px;
    line-height: 30px;
}

h3{
    padding: 0;
    text-align: center
}
span{
    height: 2px;
    width: 300px;
    background-color: brown;
    display: block;
}
.container div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
