.button-toogle{
    outline:none;
    height: 50px;
    /* padding:1em; */
    width: 100px;
    background-color: brown;
    border-style: dashed;
    border-color: brown;
    color: rgba(255,255,255);
    transition-duration: 0.4s;
    margin: auto;
    margin-bottom: 1em;

}
.button-toogle:hover{
    color: brown;
    background-color: rgba(255,255,255);
    cursor: pointer;
    transform: scale(1.1);
}